Repository mauriciomferz/ATB: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-test, opa-fmt, opa-check, opa-test, helm-lint

go-fmt:
  name: Go Format
  entry: bash -c 'cd atb-gateway-go && go fmt ./...'
  language: system
  pass_filenames: false

go-vet:
  name: Go Vet
  entry: bash -c 'cd atb-gateway-go && go vet ./...'
  language: system
  pass_filenames: false

go-test:
  name: Go Test
  entry: bash -c 'cd atb-gateway-go && go test -race ./...'
  language: system
  pass_filenames: false

opa-fmt:
  name: OPA Format
  entry: opa fmt -w
  language: system

opa-check:
  name: OPA Check
  entry: bash -c 'opa check opa/policy/'
  language: system
  pass_filenames: false

opa-test:
  name: OPA Test
  entry: bash -c 'opa test opa/policy/'
  language: system
  pass_filenames: false

helm-lint:
  name: Helm Lint
  entry: helm lint charts/atb
  language: system
  pass_filenames: false

docs: Update all documentation for Rego v1 syntax (#16)
  .pre-commit-config.yaml
  CONTRIBUTING.md
  DEV-QUICKSTART.md
  README.md
  charts/atb/templates/opa-deployment.yaml
  charts/atb/values.yaml
  dashboard/README.md
  deploy/k8s/opa/deployment.yaml
  docs/getting-started.md
  docs/troubleshooting.md
  generate_pdf.py
  opa/policy/templates/README.md
Due: helm-lint

docs: add ATB vs SPIFFE Industrial Edge comparison
  docs/architecture/atb-vs-spiffe-industrial-edge.md
Due: none

docs: update CHANGELOG with all v0.2.0 features
  CHANGELOG.md
Due: none

fix(broker): Enable API proxy on HTTP port for dev mode
  atb-gateway-go/cmd/agentauth/main.go
  atb-gateway-go/cmd/broker/integration_test.go
  atb-gateway-go/cmd/broker/main.go
  atb-gateway-go/internal/keys/manager.go
  docs/getting-started.md
Due: go-fmt, go-vet, go-test

docs: Update getting-started with correct SPIFFE ID and mTLS examples
  docs/getting-started.md
Due: none

docs: Update getting-started with correct SPIFFE ID and mTLS examples (#20)
  docs/getting-started.md
Due: none

fix: upgrade Go to 1.25.7 to resolve CVE GO-2026-4337 (TLS session resumption)
  .github/workflows/ci.yml
  atb-gateway-go/go.mod
Due: none

fix(dashboard): validate legal grounding and constraints are non-empty
  dashboard/src/api.ts
Due: none

Update README.md
  README.md
Due: none

Path conditions:
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-test: any of: \.go$
  opa-fmt: any of: \.rego$
  opa-check: any of: \.rego$
  opa-test: any of: \.rego$
  helm-lint: any of: charts/atb/.*
